body {
  font-family: sans-serif;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}

table {
  display: inline-block;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#map {
  height: 300px;
}

.leaflet-container {
  height: 500px;
}
